$title-size: 40px;
$author-size: 20px;
$text-size: 14px;
$date-size: 12px;
$primary: rgba(84, 111, 136, 1);
$primary-light: rgb(145, 169, 192);
$grey-light: #cecece;
$grey-medium: #acacac;
$grey: #8c8c8c;
$black: #000;